p {
    color: blue;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
  p:hover {
    color: red;
  }
  p:active {
    color: green;
  }
a{ color: red;
font-size: 75px;}
a:hover{ color: green;}
a:visited{ color: black;}
a:active{ color: yellow;}
p:nth-child(4){color: goldenrod;
 text-transform:capitalize;
text-decoration:underline;
}
p:nth-child(4)::before{content:"gurubuli "}
p:nth-child(4)::after{content:" reddy"}
